.mentor_container {
  display: flex;
  flex-direction: row;
  margin-left: 270px;

}
.vic_pic {
  height: auto;
  width: 200px;
}

.mark_pic {
  height: auto;
  width: 200px;
}
.mentor_1 {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.mentortitle1 {
  margin-bottom: 80px;
}
.mentor_2 {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.mark_container {
  margin-top: 30px;
}
.vic_paragraph {
  margin-top: -50px;
}

.portfolio_container {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.pics {
  height: auto;
  width: 400px;
  margin: 30px 30px 50px 30px;
  border: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
}
.pics_container {
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.header_projects {
  margin: 30px 50px 10px 50px;
  height: 50px;
  padding-top: 30px;
  border-top: 5px;
  border-top-style: solid;
  border-color: white;
  font-size: 40px;
}
.home_button {
  justify-content: center;
  height: 80px;
  width: 300px;
  margin: 50px 0px 50px 0px;
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transform: scale(1.0);
  
}
.home_button:hover {
  outline: 0;
  background-image: linear-gradient(144deg, rgba(46,255,38,1) 0%, rgba(58,228,14,0.9864320728291317) 43%, rgba(0,255,25,1) 100%);
  color: rgb(24,24,40);
  box-shadow: #00ddeb;
  transform: scale(1.2);
  transition: 500ms;
}